/**
 * @file front-end.css
 * @description Estilos aplicables a elementos comunes de la aplicación Front-end
 * @author Alba Gómez Liébana <agl00108@red.ujaen.es>
 * @date 03-Feb-2023
 */

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('./ms-plantilla.css');

* {
    font-family: 'Source Sans Pro', sans-serif;
}

#seccion-principal 
{
    width: 100%;
}
.mostrar 
{
    display: inline-block;
}

.opcion-principal 
{
    border: 2px solid rgba(10, 22, 75, 0.5);
    border-radius: .5em 0 .5em 0;
    padding: .5em;
    text-decoration: none;
    background-color: rgba(20, 49, 153, 0.2);
    color: inherit;
}

.opcion-principal:hover  
{
    background-color: rgba(53, 98, 187, 0.3);
}

h1 
{
    color: #2f0ec1;
    text-shadow: #030930 2px 2px 3px;
}

body
{
    background-color: rgb(169, 206, 232);
}

