/**
 * @file ms-plantilla.css
 * @description Estilos aplicables a la visualización de elementos relacionados con el MS Plantilla
 * @author Alba Gómez <agl00108@red.ujaen.es>
 * @date 03-Feb-2023
 */
 table.listado-nombres 
 {
    width: 30%;
    border: 1px solid #f7d1d1;
}

table.listado-nombres thead th,
table.listado-nombres tbody th 
{
    margin: 3px;
    height: 2.5em;
    background-color: #f7d1d1;
    text-transform: uppercase;

}

table.listado-nombres tbody th 
{
    background-color: rgba(154, 177, 223, 0.5);
}

table.listado-nombres tbody td 
{
    padding: 0.5em;
    text-align: center;
}

table.listado-nombres tbody tr 
{
    margin: 3px;
    background-color: rgba(154, 177, 223, 0.5);
}

table.listado-deportistas 
{
    width: 100%;
    border: 1px solid #ff6b6b;
    empty-cells: hide;
    border-collapse: separate;
    width: 100%;
}

table.listado-deportistas thead th,
table.listado-deportistas tbody th 
{
    margin: 3px;
    height: 2.5em;
    background-color: #f7d1d1;
    text-transform: uppercase;
}

table.listado-deportistas tbody th 
{
    background-color: 3
}

table.listado-deportistas tbody td 
{
    padding: 0.5em;
    text-align: center;
}

table.listado-deportistas tbody tr 
{
    margin: 3px;
    height: 2em;
    background-color: rgba(154, 177, 223, 0.5);
}

.guardar-btn {
    background-color: #ff6b6b;
    color: #FFF;
    padding: 10px;
    border-radius: 5px;
    border: none;
  }
  
  .guardar-btn:hover {
    background-color: rgba(154, 177, 223, 0.5);
    cursor: pointer;
  }
  
  .guardar-btn a {
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
  }
  
